{% import "bootstrap/wtf.html" as wtf %}
{% include "header.html" %}

<div class="container">
    <div class="row">
        <div class="col-md-12 mt-5">
            <div class="error-template">
                <h1>Oops!</h1>
                <h2>500 Internal Server Error</h2>
                <div class="error-details">
                    Something has gone wrong on our end. We apologise !
                </div>
                <div class="error-actions">
                    <a href="/" class="btn btn-dark btn-lg">Back to Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
