{% import "bootstrap/wtf.html" as wtf %}
{% include "header.html" %}

<main role="main">
    <div class="jumbotron jumbotron-fluid write-jumbotron text-center">
          <div class="page-heading mt-5">
            {% if is_edit: %}
            <h1>Edit Post</h1>
            {% else: %}
            <h1>New Post</h1>
            {% endif %}
            <span class="subheading">Lets get creative!</span>
          </div>
    </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='body') }}
        {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "success"}) }}
      </div>
    </div>
  </div>
</main>
<br>
<hr>
{% include "footer.html" %}