{% include "header.html" %}
<main role="main">
    <div class="jumbotron jumbotron-fluid main-jumbotron">
        <div class="container">
            <h1 class="display-2">Where good ideas find you.</h1>
            <hr class="my-4">
            <p>Read and share new perspectives on any topic.</p>
            <a class="nav-link" href="{{ url_for('register') }}">
                <div class="btn btn-dark btn-sm rounded-pill">Get Started</div>
                <span class="sr-only">(current)</span>
            </a>
        </div>
    </div>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% for post in all_posts %}
                <div class="post-preview mb-5">
                    <a href="{{ url_for('show_post', post_id=post._id) }}">
                        <h3>
                            <img src="{{ post.img_url }}" class="img-thumbnail xsmall-image">
                            {{post.title}}
                        </h3>
                        <h5 class="post-subtitle">
                            {{post.subtitle}}
                        </h5>
                    </a>
                    <p class="post-meta">{{post.date}} · {{post.author}} </p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
<hr>

{% include "footer.html" %}