{% include "header.html" %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1516110833967-0b5716ca1387?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1267&q=80')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Where good ideas find you</h1>
            <span class="subheading">Read and share new perspectives on just about any topic. Everyone’s welcome</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <form class="d-flex" action="{{ url_for('search') }}" method="POST">
          <input class="form-control-lg me-2" type="search" name="query" placeholder="Search by post title..." aria-label="Search">
          <button class="btn btn-secondary btn-sm ml-1" type="submit">Search</button>
          <a class="btn btn-outline-info ml-2" href="{{ url_for('get_all_posts') }}" role="button">Reset</a>
        </form>
        {% for post in all_posts %}
        <div class="post-preview">
          <a href="{{ url_for('show_post', post_id=post._id) }}">
            <h2 class="post-title">
              {{post.title}}
            </h2>
            <h3 class="post-subtitle">
              {{post.subtitle}}
            </h3>
          </a>
          <p class="post-meta">Posted by
            {{post.author}}
            on {{post.date}}
          </p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <hr>

{% include "footer.html" %}