{% import "bootstrap/wtf.html" as wtf %}
{% include "header.html" %}

<main role="main">
   <div class="jumbotron jumbotron-fluid profile-jumbotron mb-5">
      <div class="text-center">
         <h3 class="profile-name">{{ username.capitalize() }}'s Profile Page</h3>
      </div>
   </div>
   <div class="container">
      <div class="row">
         <div class="container">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
         </div>
      </div>
      <h2 class="your-posts-header">Your Posts</h2>
      <div class="table-responsive">
         <table class="table table-striped table-sm">
            <thead>
               <tr class="table-row">
                  <th>#</th>
                  <th>Image</th>
                  <th>Title</th>
                  <th>Date</th>
               </tr>
            </thead>
            <tbody>
               {% for post in posts %}
               <tr class="table-text">
                  <td>{{ loop.index }}.</td>
                  <td><img src="{{ post.img_url }}" class="img-thumbnail small-image"></td>
                  <td><a href="{{ url_for('show_post', post_id=post._id) }}">{{ post.title }}</a></td>
                  <td>{{ post.date }}</td>
                  <td><a class="btn btn-outline-secondary float-left"
                     href="{{ url_for('edit_post', post_id=post._id) }}">Edit Post
                     </a>
                  </td>
                  <td>
                     <button type="button" class="btn btn-outline-danger" data-toggle="modal"
                        data-target="#delete{{ post._id }}">
                     Delete Post
                     </button>
                     <!-- MODAL -->
                     <div class="modal fade" id="delete{{ post._id }}" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                           <div class="modal-content">
                              <div class="modal-header">
                                 <h5 class="modal-title" id="exampleModalLongTitle">Are you sure you want to
                                    delete this post?
                                 </h5>
                                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                 <span aria-hidden="true">&times;</span>
                                 </button>
                              </div>
                              <div class="modal-footer">
                                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                 </button>
                                 <a class="btn btn-outline-danger"
                                    href="{{ url_for('delete_post', post_id=post._id) }}">Delete Post
                                 </a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </td>
               </tr>
               {% endfor %}
            </tbody>
         </table>
      </div>
   </div>
</main>
<br>
<hr>
{% include "footer.html" %}